.songlist__container {
  display: flex;
  padding: 2rem 1rem;
}

h3 {
  color: rgb(226, 224, 224);
  border-bottom: solid 1px black;
  padding: 0.5rem;
}

h4 {
  color: white;
}

p {
  color: rgb(160, 160, 160);
}
