.songRow {
  margin-left: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__album {
  height: 7rem;
  width: 7rem;
}

.songRow__info {
  margin-left: 1rem;
  margin-right: 1rem;
}

.songRow__info > h1 {
  font-size: 1rem;
}

.songRow__info > p {
  font-size: 1rem;
  margin-top: 0.8rem;
  color: grey;
}
